In [2]:
import numpy as np 
import pandas as pd
import os
from pandas import DataFrame as df

### Importing the datasets

In [3]:
deliveries = pd.read_csv('deliveries.csv')
matches = pd.read_csv('matches.csv')

### Rising Pune Supergiant is present as 2 teams Rising Pune Supergiant and Rising Pune Supergiants, so replacing the value

In [4]:
matches.replace( 'Rising Pune Supergiant', 'Rising Pune Supergiants',inplace = True)
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiants,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

## 1.Which team has won/lost maximum number of matches while chasing?

In [5]:
team_won_while_chasing = matches[(matches['team2'] == matches['winner'])]['team2']
team_won_while_chasing.groupby(team_won_while_chasing).count().sort_values(ascending = False).head()

team2
Kolkata Knight Riders          58
Mumbai Indians                 51
Royal Challengers Bangalore    49
Chennai Super Kings            49
Rajasthan Royals               46
Name: team2, dtype: int64

In [6]:
team_lost_while_chasing = matches[(matches['team2'] != matches['winner'])]['team2']
team_lost_while_chasing.groupby(team_lost_while_chasing).count().sort_values(ascending = False).head()

team2
Delhi Daredevils               47
Royal Challengers Bangalore    46
Kings XI Punjab                41
Kolkata Knight Riders          37
Mumbai Indians                 35
Name: team2, dtype: int64

## 2.Which toss decision is best for each ground?

In [8]:
chasing_team_won = df(matches.loc[(matches['team2'] == matches['winner'])].groupby('venue').count()['id'])
batting_team_won = df(matches.loc[(matches['team1'] == matches['winner'])].groupby('venue').count()['id'])

#Merging two dataframes
toss_decision = pd.merge(batting_team_won,chasing_team_won, on = 'venue')
toss_decision = toss_decision.rename(columns={'id_x':'batting team won', 'id_y':'chasing team won'})

toss_decision['decision'] = toss_decision.apply(lambda x : 'bat' if x['batting team won'] >= x['chasing team won'] else "field", axis=1)

In [14]:
toss_decision

,batting team won,chasing team won,decision
venue,,,
Barabati Stadium,4,3,bat
Brabourne Stadium,6,5,bat
Buffalo Park,2,1,bat
De Beers Diamond Oval,1,2,field
Dr DY Patil Sports Academy,7,10,field
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,6,5,bat
Dubai International Cricket Stadium,3,4,field
Eden Gardens,30,47,field
Feroz Shah Kotla,32,34,field
Feroz Shah Kotla Ground,2,5,field
Himachal Pradesh Cricket Association Stadium,5,4,bat
Holkar Cricket Stadium,1,8,field
IS Bindra Stadium,2,5,field
JSCA International Stadium Complex,2,5,field
Kingsmead,8,7,bat
M Chinnaswamy Stadium,30,41,field
M. A. Chidambaram Stadium,4,4,bat
M. Chinnaswamy Stadium,3,3,bat
"MA Chidambaram Stadium, Chepauk",31,18,bat
Maharashtra Cricket Association Stadium,7,14,field
Nehru Stadium,3,2,bat
New Wanderers Stadium,3,5,field
Newlands,5,2,bat
OUTsurance Oval,1,1,bat
"Punjab Cricket Association IS Bindra Stadium, Mohali",7,7,bat
"Punjab Cricket Association Stadium, Mohali",15,20,field
"Rajiv Gandhi International Stadium, Uppal",22,34,field
Rajiv Gandhi Intl. Cricket Stadium,5,3,bat
"Sardar Patel Stadium, Motera",6,6,bat
Saurashtra Cricket Association Stadium,3,7,field
Sawai Mansingh Stadium,15,32,field
Shaheed Veer Narayan Singh International Stadium,2,4,field
Sharjah Cricket Stadium,2,4,field
Sheikh Zayed Stadium,4,3,bat
St George's Park,3,4,field
Subrata Roy Sahara Stadium,11,6,bat
SuperSport Park,4,8,field
"Vidarbha Cricket Association Stadium, Jamtha",2,1,bat
Wankhede Stadium,36,37,field

## 3.Which player has won maximum number of MoM awards while chasing?

In [9]:
#Getting teams of each batsman 
batsman = deliveries[['batsman', 'batting_team']]
batsman = batsman.drop_duplicates()

#Checking whether 
matches_won_while_chasing = matches.loc[(matches['team2'] == matches['winner'])]
mom = matches_won_while_chasing.merge(batsman,left_on='player_of_match', right_on='batsman')

mom = mom[['winner','batting_team','player_of_match','team2']]
mom = mom.loc[(mom['batting_team'] == mom['team2'])]
mom['player_of_match'].value_counts().head()

YK Pathan    11
G Gambhir    10
CH Gayle     10
RG Sharma     9
DR Smith      9
Name: player_of_match, dtype: int64

## 4.Which batsman has played maximum number of dot balls?

In [10]:
dot_balls = deliveries.loc[(deliveries['batsman_runs'] == 0)]['batsman'].value_counts().head()

## 5.Which batsmen came to crease but never got a chance to face a ball?

In [11]:
dnb_batsman = df(columns = ['match_no', 'batsman'])
for i,g in deliveries.groupby('match_id'):
    dnb =  list(set(g['non_striker']) - set(g['batsman']))
    if len(dnb): 
        dnb_batsman.loc[len(dnb_batsman)] = [i,str(' , '.join(dnb))]
    else:
        dnb_batsman.loc[len(dnb_batsman)] = [i,'None']
dnb_batsman

    match_no                         batsman
0          1                            None
1          2                  MJ McClenaghan
2          3                        DR Smith
3          4                        R Bhatia
4          5                            None
5          6                            None
6          7                            None
7          8                            None
8          9                            None
9         10                         A Nehra
10        11                  Sandeep Sharma
11        12                            None
12        13                            None
13        14                            None
14        15                            None
15        16                            None
16        17                            None
17        18                            None
18        19                            None
19        20                            None
20        21                       CH Morris
21        22                            None
22        23                            None
23        24                            None
24        25                            None
25        26                            None
26        27                            None
27        28     MJ McClenaghan , MG Johnson
28        29                       MK Pandey
29        30                            None
..       ...                             ...
726    11322     Mohammed Siraj , KA Pollard
727    11323                      JD Unadkat
728    11324                       YK Pathan
729    11325  I Sharma , KA Pollard , K Paul
730    11326                      KD Karthik
731    11327                            None
732    11328                            None
733    11329                            None
734    11330            SN Thakur , DW Steyn
735    11331                       SV Samson
736    11332                        DJ Bravo
737    11333                            None
738    11334                            None
739    11335                     Imran Tahir
740    11336                          S Kaul
741    11337                        UT Yadav
742    11338                            None
743    11339                            None
744    11340                        UT Yadav
745    11341                            None
746    11342                     Rashid Khan
747    11343                            None
748    11344                            None
749    11345                            None
750    11346                            None
751    11347                       SP Narine
752    11412                            None
753    11413              B Kumar , TA Boult
754    11414                            None
755    11415                       JJ Bumrah

[756 rows x 2 columns]

## 6.Which bowler has hit for maximum number of 1s/2s/3s/4s/6s

In [23]:
bowler_data = deliveries[['bowler', 'total_runs']]
bowler_sixes = bowler_data.loc[(bowler_data['total_runs'] == 6) | (bowler_data['total_runs'] == 7)]
bowler_fours = bowler_data.loc[(bowler_data['total_runs'] == 4)]
bowler_threes = bowler_data.loc[(bowler_data['total_runs'] == 3)]
bowler_twos = bowler_data.loc[(bowler_data['total_runs'] == 2)]
bowler_ones = bowler_data.loc[(bowler_data['total_runs'] == 1)]
bowler_data.merge(bowler_sixes,on='bowler')

print("Sixes :",bowler_sixes['bowler'].value_counts().head(3), sep = '\n', end = '\n\n')
print("Fours :",bowler_fours['bowler'].value_counts().head(3), sep = '\n', end = '\n\n')
print("Threes :",bowler_threes['bowler'].value_counts().head(3), sep = '\n', end = '\n\n')
print("Twos :",bowler_twos['bowler'].value_counts().head(3), sep = '\n', end = '\n\n')
print("Ones :",bowler_ones['bowler'].value_counts().head(3), sep = '\n', end = '\n\n')

Sixes :
PP Chawla          171
A Mishra           170
Harbhajan Singh    143
Name: bowler, dtype: int64

Fours :
UT Yadav    389
P Kumar     343
B Kumar     325
Name: bowler, dtype: int64

Threes :
P Kumar     18
UT Yadav    15
DW Steyn    15
Name: bowler, dtype: int64

Twos :
DJ Bravo     258
A Mishra     251
PP Chawla    245
Name: bowler, dtype: int64

Ones :
Harbhajan Singh    1549
R Ashwin           1415
A Mishra           1414
Name: bowler, dtype: int64

## 7.Which batsman got stumped out maximum number of times

In [15]:
dissmissal_type = deliveries[deliveries['dismissal_kind'] == 'stumped']
dissmissal_type['batsman'].value_counts().head()

SK Raina        8
RV Uthappa      7
AT Rayudu       7
F du Plessis    6
PA Patel        6
Name: batsman, dtype: int64

## 8.Which non-striker has been part of maximum number of runouts

In [16]:
dissmissal_type = deliveries[(deliveries['dismissal_kind'] == 'run out')]
dissmissal_type['non_striker'].value_counts().head()

SK Raina          16
KD Karthik        16
RG Sharma         15
YK Pathan         14
AB de Villiers    14
Name: non_striker, dtype: int64

## 9.No. of matches in each city

In [444]:
matches['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Ahmedabad          12
Centurion          12
Mohali             10
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Abu Dhabi           7
Cuttack             7
Port Elizabeth      7
Cape Town           7
Ranchi              7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Kimberley           3
East London         3
Nagpur              3
Bloemfontein        2
Name: city, dtype: int64

## 10.Success rate of teams

In [27]:
matches_won = matches.groupby('winner').count()
total_matches = matches['team1'].value_counts()+ matches['team2'].value_counts()

matches_won['Total matches']=total_matches
match_succes_rate = (matches_won["id"]/total_matches)*100

data = match_succes_rate.sort_values(ascending = False)
print(data)

winner
Delhi Capitals                 62.500000
Chennai Super Kings            60.975610
Mumbai Indians                 58.288770
Sunrisers Hyderabad            53.703704
Kolkata Knight Riders          51.685393
Rajasthan Royals               51.020408
Rising Pune Supergiants        50.000000
Royal Challengers Bangalore    46.666667
Kings XI Punjab                46.590909
Gujarat Lions                  43.333333
Kochi Tuskers Kerala           42.857143
Delhi Daredevils               41.614907
Deccan Chargers                38.666667
Pune Warriors                  26.086957
dtype: float64

## 11.How winning the toss effects the match result

In [28]:
tosswin_win = matches['id'][matches['toss_winner'] == matches['winner']].count()
total_matches=matches['id'].count()
Success_rate = ((matches[matches['toss_winner'] == matches['winner']].count())/(total_matches))*100

print("Number of matches in which Toss winner is the game winner is :",tosswin_win, "out of",total_matches," ie.,", Success_rate["id"],"%" )

Number of matches in which Toss winner is the game winner is : 393 out of 756  ie., 51.98412698412699 %

## 12.Find the city in which each team has won maximum matches

In [29]:
city_wins = matches.groupby(['winner','city']).size().reset_index(name='win_counts')
city_wins = city_wins.sort_values("win_counts",ascending=False)
city_wins.groupby("winner").head(1)

                          winner        city  win_counts
136               Mumbai Indians      Mumbai          53
116        Kolkata Knight Riders     Kolkata          45
5            Chennai Super Kings     Chennai          40
159             Rajasthan Royals      Jaipur          32
199          Sunrisers Hyderabad   Hyderabad          30
174  Royal Challengers Bangalore   Bangalore          30
50              Delhi Daredevils       Delhi          27
80               Kings XI Punjab  Chandigarh          22
171      Rising Pune Supergiants        Pune           5
37                Delhi Capitals       Delhi           4
146                Pune Warriors        Pune           4
74                 Gujarat Lions      Rajkot           3
29               Deccan Chargers   Hyderabad           3
101         Kochi Tuskers Kerala       Kochi           2

## 13. Which umpire has officiated maximum matches

In [31]:
ump=pd.concat([matches['umpire1'],matches['umpire2'], matches['umpire2']])
ump.value_counts().head()

S Ravi             163
C Shamshuddin      130
SJA Taufel         109
HDPK Dharmasena    101
CK Nandan           77
dtype: int64

## 14.Which batsman has hit most sixes

In [32]:
batsman_data = deliveries[['batsman', 'total_runs']].loc[(bowler_data['total_runs'] == 6)]
batsman_data['batsman'].value_counts().head()

CH Gayle          322
AB de Villiers    211
MS Dhoni          207
SK Raina          194
RG Sharma         193
Name: batsman, dtype: int64